[submodule "RealEngine/libs/glfw"]
	path = RealEngine/libs/glfw
	url = https://github.com/glfw/glfw
[submodule "RealEngine/libs/imgui"]
	path = RealEngine/libs/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
